<div class="row">
  <div class="row">
    <div class="col-8">
      <form>
        <div class="row">
          <div class="col">
            <input type="text" class="form-control" placeholder="Nombre">
          </div>
          <div class="col">
            <input type="text" class="form-control" placeholder="Rut">
          </div>
          <div class="col">
            <input type="text" class="form-control" placeholder="Razon Social">
          </div>
          <div class="col">
            <input type="text" class="form-control" placeholder="Cantidad">
          </div>

        </div>
        <div class="row">
          <input type="text" class="hide">
          <!-- Colocar imagenes con ng for-->
        </div>
      </form>
    </div>
  </div>
</div>


