<div class="col-lg-4 mx-auto p-4">
        <div class="card">
            <div class="card-header">
                Upload photo
            </div>
            <div class="card-body">
                <form (submit)="uploadPhoto(title,description)">
                    <div class="form-group">
                        <input #title type="text" class="form-control" placeholder="photo's titlle" required>

                    </div>

                    <div class="form-group">
                        <textarea rows="3" type="text" 
                        class="form-control" #description
                         placeholder="photo's descirption" required>
                        
                        </textarea>
                    </div>
                    <input type="file" class="d-none" #photoInput (change)="onPhotoSelected($event)">
                    <img [src]="photoSelected || './assets/no-image.png'" class="img-fluid" alt="No image" 
                     (click)="photoInput.click()">
       
                    <button type="submit" class="form-control mt-2">Upload</button>
                </form>
            </div>
        </div>
</div>