<div class="col-12 col-lg-8 mx-auto p-4">
    <div class="card">
        <div class="card-header">
            Crear Producto
        </div>
        <div class="card-body">
            <form (submit)="uploadPhoto(title,description)" enctype="multipart/form-data">

                <div class="row">
                    <div class=" col-12 col-md-6 col-lg-6 ">

                        <div class="form-group">
                            <label for="nombre">Nombre</label>
                            <input #title type="text" class="form-control" placeholder="ingrese el nombre aqui" required>

                        </div>

                        <div class="form-group">
                            <label for="descirption">Descripción del producto</label>
                            <textarea rows="3" type="text" class="form-control" #description
                                placeholder="ingrese la descripción aqui " required>

                        </textarea>
                    </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-6 mx-auto">
                        <input type="file" class="d-none" #photoInput (change)="onPhotoSelected($event)">
                        <img [src]="photoSelected || './assets/no-image.png'" class="img-fluid " alt="No image"
                            (click)="photoInput.click()" >
        
                        <button type="submit" class="form-control mt-2 btn btn-success">Registrar</button>

                    </div>



                </div>


               
            </form>
        </div>
    </div>
</div>