
.container{
    margin: 20px;
    padding: 20px;
}
table{
    width: 95%;
    margin: 0px auto;
}
a{
    margin-left: 15px;
}
button{
    margin-left: 10px;
}

h2{
    text-align: center;
    margin:10px;
    font-family: Arial, Helvetica, sans-serif;
}
form{
    margin: 0px auto;
    margin: 10px;
    margin-top: 20px;
    padding-left: 20px;  

}
h5{
    margin-bottom: 10px;
    text-align: center;
}
label{
    display:block;
}
.register{
    margin: 0px auto;
}

