<div class="card col-8 mx-auto">
    <div class="card-header">
        <h2 class="card-title">Perfil de Usuario</h2>
    </div>
    <div class="card-body">

        <img src="" alt="" width="100px" height="100px">
        <label for="">Nombre</label>
        <input type="text" name="nombre" class="form-control" disabled>
        <label for="Email">Email</label>
        <input type="text" name="email" class="form-control" disabled>
        <label for="role">Rol de Usuario</label>
        <input type="text" name="role" class="form-control" disabled>

    </div>
    <div class="card-footer">
        <button class="btn btn-primary mx-auto">Volver</button>
    </div>
</div>