<div class="row mx-auto" *ngIf="!photo; else main_content">
    <h1>Loading...</h1>
</div>
<ng-template #main_content>

    <div class="container">
        <h3 class="text-center"> <b> Actualizar datos del producto </b></h3>
        <div class="row mx-auto content">
            <div class="card col-5">
                <div class="card-header">
                    <h5 class="text-center"><b>Detalles del producto</b></h5>
                </div>
                <div class="card-body">
                    <form class="card-body" (submit)="updatePhoto(title, description,price,stock)">
                        <div class="form-group">
                            <label for="nombre">Nombre</label>
                            <input type="text" class="form-control" placeholder="Photo's Title" [value]="photo.title"
                                #title>
                        </div>
                        <div class="form-group">
                            <label for="description">Descripción </label>
                            <textarea rows="2" class="form-control" placeholder="Photo's Description"
                                [value]="photo.description" #description></textarea>
                        </div>
                        <div class="form-group">
                            <label for="nombre">Precio</label>
                            <input type="number" class="form-control" placeholder="Photo's price" [value]="(photo.price)"
                                #price>
                        </div>
                        <div class="form-group">
                            <label for="nombre">Stock</label>
                            <input type="number" class="form-control" placeholder="Photo's price" [value]="photo.stock"
                                #stock>
                        </div>
                        <button class="btn btn-primary btn-block">
                            Actualizar
                        </button>
                    </form>
                    <div class=" col-md-12 mx-auto">
    
                        <button class="btn btn-danger btn-block" (click)="deletePhoto(photo._id)">
                            Eliminar
                        </button>
                    </div>
    
                </div>
            </div>
            <div class="card col-5">
                    <div class="card-header">
                        <h5 class="text-center"><b>Imagen del producto</b></h5>
                
                    <div class="card-body ">
                        <img [src]="'http://localhost:3000/' + photo.imagePath" class="img-fluid">

                    </div>
                </div>
            </div>
        </div>
        
    </div>

</ng-template>