<div class="container">

  <table class="table">
    <thead class="thead-light">
      <tr>
        <th scope="col">Nombre</th>
        <th scope="col">Rut</th>
        <th scope="col">Patente</th>
        <th scope="col">Fecha</th>
        <th scope="col">Tipo de Producto</th>
        <th scope="col">Acción</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let pesaje of pesajes" class=pesaje>
        <td>{{pesaje.nombre}}</td>
        <td>{{pesaje.rut}}</td>
        <td>{{pesaje.patente}}</td>
        <td>fecha!!</td>
        <td>tipo_deP</td>
        <td>
          <a href="#" (click)="VerPesaje($event,pesaje)" data-toggle="modal" data-target="#updatemodal"><i
              class="fa fa-eye fa-2x"></i></a>
          <a href="#"><i class="fa fa fa-file-pdf-o fa-2x "></i></a>
        </td>
      </tr>
      <tr>
    </tbody>
  </table>

</div>
<div class="modal fade" id="updatemodal" role="dailog">
  <div class="modal-dialog ">
    <div class="modal-content">
      <form [formGroup]=formPesaje novalidate id="export">

        <div class="modal-header">
          <h4 class="modal-title">Ver Información</h4>
          <button type="button" class="close" id="modalclose" data-dismiss="modal">x</button>
        </div>
        <div class="moda-body">
            <div class="client">
              <h5>Cliente</h5>
              <div class="form-group">
                <label for="nombre" class="form-label">Nombre</label>
                <input type="text" formControlName="nombre" class="form-control" [attr.disabled]="true" placeholder="Nombre" >
              </div>

              <div class="form-group">
                <label for="rut" class="form-label">Rut</label>
                <input type="text" formControlName="rut" class="form-control" [attr.disabled]="true" placeholder="Rut">
              </div>
              <div class="form-group">
                <label for="razonSocial">Razón Social</label>
                <input type="text" formControlName="razonSocial" class="form-control" [attr.disabled]="true" placeholder="Razón Social">

              </div>

            </div>
            <div class="details">

              <h5>Detalles</h5>
              <div class="form-group">
                <label for="pesoEntrada" class="form-label">Peso de entrada</label>
                <input type="number" formControlName="pesoEntrada" class="form-control" [attr.disabled]="true" placeholder="Peso de Entrada">


              </div>
              <div class="form-group">
                <label for="pesoSalida" class="form-label">Peso de salida</label>
                <input type="number" formControlName="pesoSalida" class="form-control" [attr.disabled]="true" placeholder="Peso de Salida">

              </div>
              <div class="form-group">
                <label for="tipoTransaccion"> Tipo de transaccion</label>
                <select formControlName="tipoTransaccion" class="form-control" [attr.disabled]="true">
                  <option value="compra">Compra</option>
                  <option selected value="venta">Venta</option>
                </select>

              </div>
            </div>

      

          <div class="vehicle">
            <h5> Vehiculo</h5>
            <div class="form-group">
              <label for="patente" class="form-label">Patente</label>
              <input type="text" formControlName="patente" class="form-control" [attr.disabled]="true" placeholder="Patente">
            </div>
            <div class="form-group">
              <label for="tipoVehiculo">Tipo de Vehiculo</label>
              <input type="text" formControlName="tipoVehiculo" class="form-control" [attr.disabled]="true" placeholder="Tipo de vehiculo">
            </div>
          </div>

        
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-danger" id="btnmodal"data-dismiss="modal">Cerrar</button>

        </div>

      </form>
    </div>
  </div>
</div>
