<div class="container">
    <h3 class="text-center"><b>Registro de Silo</b></h3>
    <form [formGroup]="formSilo" (ngSubmit)="onSubmit()" novalidate>

        <div class="client card">
            <div class="card-header">
                <h5><b>Detalles del Silo</b></h5>
            </div>
            <div class="card-body">
                <div class="form-group">
                    <label for="nombre" class="form-label ml-1">Nombre</label>
                    <input type="text" formControlName="nombre" class="form-control" placeholder="Nombre">
                    <div *ngIf="formSilo.get('nombre').errors && (formSilo.get('nombre').touched
                    || formSilo.get('nombre').dirty)" class="alert alert-danger">
                        Este campo es Obligatorio </div>

                </div>
                <div class="form-group">
                    <label for="capacidadTotal" class="form-label ml-1">Capacidad Total</label>
                    <input type="number" formControlName="capacidadTotal" class="form-control" placeholder="Capacidad Total">
                    <div *ngIf="formSilo.get('capacidadTotal').errors && (formSilo.get('capacidadTotal').touched
                    || formSilo.get('capacidadTotal').dirty)" class="alert alert-danger">
                        Este campo es Obligatorio </div>
                </div>
                <div class="form-group">
                    <label for="stock" class="form-label ml-1">Stock Actual</label>
                    <input type="number" formControlName="stock" class="form-control" placeholder="Stock Actual">
                    <div *ngIf="formSilo.get('stock').errors && (formSilo.get('stock').touched
                    || formSilo.get('stock').dirty)" class="alert alert-danger">
                        Este campo es Obligatorio </div>
                </div>
                <div class="form-group">
                    <label for="tipoProducto" class="form-label ml-1">Tipo de Producto</label>
                    <select class="form-control" formControlName="tipoProducto">
                      <option value="" selected disabled>Seleccione Producto</option>
                      <option *ngFor= "let product of productos" value="product.title">{{product.title}}</option>
                    </select>


                </div>
                <div class="form-group">
                    <label for="estado" class="form-label ml-1">Estado</label>
                    <select class="form-control" formControlName="estado">
                        <option value="" selected disabled>Seleccione estado</option>
                        <option value=true>Activo</option>
                        <option value=false>Inactivo</option>
                    </select>

                </div>
                <div class="row">

                    <button type="submit" [disabled]="!formSilo.valid" class="btn btn-primary">Registrar</button>

                </div>
            </div>
        </div>





    </form>

</div>
