<div class="container">

    <h2 class="text-center"><b>Listado de pedidos</b></h2>
    <div class="pdf">

        <button class="btn btn-info" style="margin-right:'5px';" routerLink="/clientes">Volver</button>
        <button type="button" class="btn btn-danger" (click)="downloadPDF()">Generar PDF</button>

    </div>
    <div class="card">
        <div class="card-body table-responsive">
            <table class="table table-striped table-hover" id="table-pedidos">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">N°</th>
                        <th scope="col">Cliente</th>
                        <th scope="col">Cantidad</th>
                        <th scope="col">Total</th>
                        <th scope="col">Estado</th>
                        <th scope="col">Fecha</th>
                        <th scope="col">Actualizado</th>

                    </tr>
                </thead>
                <tbody>
                    <tr class="table-light" *ngFor="let pedido of this.misPedidos, let i= index">
                        <th scope="row">{{i+1}}</th>
                        <td> {{pedido.cliente}}</td>
                        <td>{{pedido.cantidad}} Uds</td>
                        <td>{{pedido.precio | currency:'CLP '}}</td>
                         <td style="color: #007bff;" *ngIf="pedido.status"><b>Aprobado</b></td>
                        <td style="color: red;" *ngIf="!pedido.status"><b> Pendiente</b></td>
                        <td>{{pedido.createdAt | date:'dd/MM/yyyy'}}</td>
                        <td>{{pedido.updatedAt | date:'dd/MM/yyyy'}}</td>                 



                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>