<div class="content-body">
    <div class="header col-md-12">
        <app-cabecera></app-cabecera>
    </div>
    <div class="row col-md-12">
        
        <div class="col-left col-md-2">
            <div class="sidebar">
                <app-navigation></app-navigation>
            </div> 
        </div>
        <div class="col-right col-md-10">
            <div class="content">
                <router-outlet></router-outlet>
            </div>

        </div>

    </div>
    <div class="footer col-md-12">
        <app-footer></app-footer>
    </div>
</div>