* {
    margin: 0;
    padding: 0;
}
.content{
    display: block;
    height: inherit;
}
.sidebar{
    height: inherit;
}

@media screen and (max-width:640px) {
    .container {
        grid-template-areas: "header header" "sidebar sidebar" "content content" "footer footer"
    }
}