<div class="footer">

    <div class="row">

        <div class=" col-md-2 col-xs-12">
            <a href="http://">Home</a>
            <a href="http://">About</a>
            <a href="http://">Features</a>
            <a href="http://">Princing</a>
            <a href="http://">Contact us</a>
        
        </div>
        <div class="col-md-2 col-xs-12">
            <a href="http://">Block</a>
            <a href="http://">Search</a>
            <a href="http://">T & Cs</a>
            <a href="http://">Privacy</a>
            <a href="http://">Conmunity</a>
       </div>

       <div class="col-md-6 col-xs-12">
           <div class="container">
            <form class="form-inline">
                <div class="form-group">
                    <div class="input-group">
                        <label for="email" class="sr-only">Get our newsletter</label>
                        <input type="email" class="form-control" name="email" id="email"  placeholder="Enter your email">
                    </div>                    
                </div>
                    <button type="submit" class="btn btn-primary">Subscribe</button>     
           </form>

          
            
            <div class="redes-sociales">
                <i class="fa fa-instagram" aria-hidden="true"></i>
                <i class="fa fa-facebook" aria-hidden="true"></i>
                <i class="fa fa-snapchat" aria-hidden="true"></i>
                <i class="fa fa-twitter" aria-hidden="true"></i>
                <i class="fa fa-youtube" aria-hidden="true"></i>
                
            </div>
        </div>
       </div>


    </div>
    


</div>