/*body{
  background: rgb(34,193,195);
  background: linear-gradient(90deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
}
*/

body{
  background-image: url('./assets/fondo.jpg') ;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}