form{
    margin-top: 6%;
    opacity: 0.9;
}
button{
    margin: 0 auto;
}
.card{
    color :white !important;
    font-weight: bold;
    background: transparent;
    
}

.card-title img{
    display: block;
    margin:auto;
    
}
#reset-pass{
    background: none;
    border: none;
    margin-top: 10px;
    color: #007bff;
    font-weight: bold;
}
#reset-pass:hover{
    color: black;
    font-family: sans-serif;

}
.modal h5{
    color: #007bff;
}
.modal label{
    font-weight: bold;
    font-size: 16px;
    font-family: sans-serif;
}
.modal-footer{
    border: none;
}
.contrasena{
    margin-top: 20px;
}
.submit{
    margin-top: 20px;
}