<div class="col-12 header">
    <div class="logo col-md-2">
        <img src="../../../assets/logo.png" alt="logo de la pagina">
    </div>
    <div class="nav">

        <li [routerLink]="['components/home']" class="nav-item">
            <a class="nav-link">Home</a>
        </li>
        <li [routerLink]="['components/clientes']" class="nav-item">
            <a class="nav-link">Clientes</a>
        </li>
        <li [routerLink]="['components/silos']" class="nav-item">
            <a class="nav-link">Silos</a>
        </li>

    </div>



</div>