*{
font-family: sans-serif;
}
.header{
    height: 100px;
    text-align: center;
    font-size: 38px;
    background-color: #1F72A6;
    color: black;
    display: flex;

}
.logo img{
    width: 100px;
    height: 100px;
}

.login img{
    width: 75px;
    height: 75px;
}
li a{color: white;font-weight: bold; }
.nav{
    flex-direction: row;
    font-size: 25px;
    align-items: center;
}
