*{
font-family: sans-serif;
}
.header{
   display: block;
   width: 100%;
   height: 90px;
   background: #1F72A6;

}
.header ul{
    display: block;
    width: 80%;
    height: inherit;
    margin:0px auto;
    
}
.header li{
    display:inline-box;
    margin: 0px auto;
    text-align: center;
    line-height: 70px;
    width: 20%;;

}
.header a{
    display: block;
    padding-right: 20px;
    padding-left: 20px;
    height: inherit;
    text-decoration: none;
    color: white;
    transition: all-300;
}
.header a:hover,
    .actived{
        background:#063e61 ;
}

 img{
    height: inherit;
    width: 90px;
}
