<div class="d-flex">
    <div id="sidebar-container" class="border">

        <div class="menu">
            <a [routerLink]="['components/pesajes/nuevo-pesaje']" class="list-group-item  p-3"><i
                    class="fa fa-plus fa-2x" aria-hidden="true"></i> Realizar Pesaje</a>
            <a [routerLink]="['components/pesajes/editar-pesaje']" class="list-group-item  p-3"><i class="fa fa-pencil fa-2x" aria-hidden="true"></i> Editar
                Pesaje</a>
            <a [routerLink]="['components/pesajes/deshabilitar-pesaje']" class="list-group-item  p-3"><i class="fa fa-times-circle-o fa-2x" aria-hidden="true"></i>
                Deshabilitar Pesaje</a>
            <a [routerLink]="['components/pedido']" class="list-group-item  p-3"><i class="fa fa-address-book fa-2x" aria-hidden="true"></i>
                  Pedido</a>
        </div>
    </div>
</div>
