<div class="container">
    <h2>Formulario Pesajes</h2>
    <form action="">
        <div class="row">
            <div class=col-left>
                <div class="client card">
                    <h5 class="card-title">Cliente</h5>
                    <div class="form-group">
                        <label for="name" class="form-label">Nombre</label>
                        <input type="text" name="" id="" class="form-control">
        
                    </div>
                    
                    <div class="form-group">
                        <label for="rut" class="form-label">Rut</label>
                        <input type="text" name="rut"class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="reasson">Razón Social</label>
                        <input type="text" name="reasson" class="form-control">
        
                    </div>
                </div>
            </div>
            <div class="col-right">
                
                <div class="details card">
                    <h5 class="card-title">Detalles</h5>
                    <div class="form-group">
                        <label for="input" class="form-label">Peso de entrada</label>
                        <input type="text"name="input" class="form-control">
        
                    </div>
                    <div class="form-group">
                        <label for="output" class="output">Peso de salida</label>
                        <input type="text" name="output" class="form-control">
        
                    </div>
                    <label for=""> Tipo de transaccion</label>
                    <div class="form-group">
                        <select name="transaction" class="form-control">
                            <option value="buy">Compra</option>
                            <option value="sale">Venta</option>
                        </select>
        
                    </div>
                </div>
            </div>

        </div>
        <div class="row">
            <div class="col">
                <div class="vehicle card">
                    <h5 class="card-title"> Vehiculo</h5>
                   
                    <div class="form-group">
                        <label for="n_vehicle" class="form-label">Patente</label>
                        <input type="text" name="" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="type_vehicle">Tipo de Vehiculo</label>
                        <input type="text" name="type_vehicle" class="form-control">
                    </div>
                </div>

            </div>
        </div>

        <div class="row">
           
            <button type="submit" class="btn btn-primary">Registrar</button>
       
        </div>

    </form>

</div>